<div class="portfolio-background">
  <div class="portfolio-banner">
    <h1>PORTFOLIO</h1>
    <div class="subtitles">
      <h3>COMPOSITIONS</h3>
      <h3>SOUNDTRACKS</h3>
    </div>
    <h6>Scroll down</h6>
  </div>

  <div class="portfolio-body">
    <%# <div> %>
      <%= video_tag "https://youtu.be/571oJHujkKg", class: "video-tag"%>
      <%# <video src="https://youtu.be/571oJHujkKg" width="740" height="480">Video not supported</video> %>
    <%# </div> %>
  </div>
</div>
