<div class="navbar-outer">
  <div class="navbar-inner">
    <div class="name-title">
      <%# <h2>Owen Baldwin</h2> %>
      <h2>OWEN BALDWIN</h2>
    </div>
    <div class="tabs">
      <ul>
        <%# add link_to %>
        <li>HOME</li>
        <li>PORTFOLIO</li>
        <li>ABOUT</li>
        <li>REFERENCES</li>
        <li>CONTACT</li>
      </ul>
    </div>
  </div>
</div>
