<% content_for :meta_title, "About - Owen Baldwin" %>


<div class="portfolio-background">
  <div class="portfolio-body">
    <div class="portfolio-body-inner">
      <div class="diamond-deco-container container">
        <div class="diamond-deco-content">

          <div class="portfolio-titles">
            <main class="main">
              <div class="button">
                <div class="button__ornament button__ornament--vertical">
                  <div class="button__ornament-top-bottom"></div>
                  <div class="button__ornament-left-right"></div>
                </div>

                <div class="button__ornament button__ornament--horisontal">
                  <div class="button__ornament-top-bottom"></div>
                  <div class="button__ornament-left-right"></div>
                </div>
                <span class="button__label">ABOUT</span>
              </div>
            </main>
          </div>

          <div class="about-box">
            <%# <div class="image-box"> %>
              <%= image_tag "about-1-shadow.jpeg", class: "about-image" %>
              <div class="inset-shadow"></div>
            <%# </div> %>
            <div class="about-text">
              <p>Owen Baldwin is an English film and media composer, songwriter and musician.</p>
              <p>He has studied classical music in high school and then went on to study songwriting and music performance at the British and Irish Modern Music institute (BIMM) in London.
              He was awarded with a Bachelor in Arts and two BTEC Diplomas.</p>
              <p>Orchestral composers such as Gustav Holst, Ralph Vaughan Williams, John Williams and Danny Elfman are among his biggest source of inspiration, as well as
              bands such as the Doors, Pink Floyd and the Moody Blues</p>

            </div>
          </div>

          <div class="triple-diamond-deco-container container">
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="small-diamond-left"></div>
            <div class="small-diamond-right"></div>
            <div class="large-diamond"></div>
          </div>

          <div class="about-box">
            <div class="about-text">
              <p>Owen has experience writing in genres such as orchestral, rock, folk, electronic music and more, and for a wide variety of instruments.</p>
              <p>His music is now available on all streaming platforms, Bandcamp and YouTube.</p>
              <p>More music will be released in the coming months, alternating between soundtracks and compositions. Stay tuned!</p>
            </div>
            <%= image_tag "about-2-shadow.jpeg", class: "about-image" %>
          </div>

        </div>
        <div class="diamond-deco-square-left-top"></div>
        <div class="diamond-deco-square-left-bottom"></div>
        <div class="diamond-deco-square-right-top"></div>
        <div class="diamond-deco-square-right-bottom"></div>
        <div class="diamond-deco-tall-outer"></div>
        <div class="diamond-deco-tall-inner"></div>
        <div class="diamond-deco-wide-outer"></div>
        <div class="diamond-deco-wide-inner"></div>
      </div>

    </div>
  </div>
</div>
