<% content_for :meta_title, "Contact - Owen Baldwin" %>


<div class="contact-background">
  <div class="contact-body">

  <div class="triple-deco-container container contact-container">
    <div class="triple-deco-content">
      <%# <div data-tf-widget="GObbOyoP" data-tf-iframe-props="title=Get in touch template (copy)" style="width:100%;height:400px;"></div>
      <script src="//embed.typeform.com/next/embed.js"></script> %>

      <div data-tf-widget="GObbOyoP" data-tf-iframe-props="title=Get in touch template (copy)" data-tf-medium="snippet" style="width:100%;height:400px;"></div>
      <script src="//embed.typeform.com/next/embed.js"></script>
    </div>
    <div class="triple-deco-tall"></div>
    <div class="triple-deco-mid"></div>
    <div class="triple-deco-wide"></div>
  </div>

  </div>
</div>
