<% content_for :meta_title, "Home - Owen Baldwin" %>


<div class="portfolio-background">


  <div class="portfolio-body">
    <div class="portfolio-body-inner">
      <div class="square-deco-container container">
        <div class="square-deco-content">
          <div class="home-banner">
            <%= image_tag "homepic.jpeg", class: "home-image" %>
          </div>
          <div class="home-subs">
            <h1>FILM COMPOSER</h1>
            <h1>SONGWRITER</h1>
            <h1>MUSICIAN</h1>
          </div>

          <div class="home-text">
            <p>I am a freelance composer, arranger and songwriter.  I write scores for films and all sort of visual projects. I also write arrangements for other people's songs in a wide variety of genres.</p>
            <p>Check out my portfolio to listen to previous releases as well as excerpts of soundtracks I have composed.
            You can find my sound design showreel at the bottom of the 'Portfolio' page.</p>
            <p>You can also contact me if you need music for your visual projects or if you need a full arrangement for your songs.</p>
          </div>






        </div>
        <div class="square-deco-inner"></div>
        <div class="square-deco-square-left-top"></div>
        <div class="square-deco-square-left-bottom"></div>
        <div class="square-deco-square-right-top"></div>
        <div class="square-deco-square-right-bottom"></div>
        <div class="square-deco-tall"></div>
        <div class="square-deco-wide"></div>
      </div>

    </div>
  </div>
</div>
