<% content_for :meta_title, "Portfolio - Owen Baldwin" %>


<div class="portfolio-background">
  <div class="portfolio-banner">
    <%= image_tag "portfoliobg.png", class: "portfolio-banner-image" %>
    <div class="inset-shadow"></div>
  </div>


  <div class="portfolio-body">
    <div class="portfolio-body-inner">

      <div class="triple-deco-container container">
        <div class="triple-deco-content">

          <div class="portfolio-titles">
            <main class="main">
              <div class="button">
                <div class="button__ornament button__ornament--vertical">
                  <div class="button__ornament-top-bottom"></div>
                  <div class="button__ornament-left-right"></div>
                </div>

                <div class="button__ornament button__ornament--horisontal">
                  <div class="button__ornament-top-bottom"></div>
                  <div class="button__ornament-left-right"></div>
                </div>
                <span class="button__label">COMPOSITIONS</span>
              </div>
            </main>
          </div>


          <div class="youtube-video">
            <iframe  class="yt-video-item" src="https://www.youtube.com/embed/571oJHujkKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <%# <video src="https://youtu.be/571oJHujkKg" width="740" height="480">Video not supported</video> %>
          </div>
          <div class="spotify">
            <iframe src="https://open.spotify.com/embed/track/07sqlvxtD0iJO7Hwz2ovqH?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" class="spotify-players"></iframe>
            <iframe src="https://open.spotify.com/embed/track/10FhAOdTdBuHo6qgCFHlvj?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" class="spotify-players"></iframe>
            <iframe src="https://open.spotify.com/embed/track/5U2mPu3VGJYdaWYyK1aPga?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" class="spotify-players"></iframe>
          </div>
          <div class="spotify-item">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/941866165&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/owen-baldwin-3" title="Owen A. Baldwin" target="_blank" style="color: #cccccc; text-decoration: none;">Owen A. Baldwin</a> · <a href="https://soundcloud.com/owen-baldwin-3/sets/portfolio" title="Portfolio" target="_blank" style="color: #cccccc; text-decoration: none;">Portfolio</a></div>
          </div>

          <div class="title-deco-container container">
            <div class="content content-default"></div>
            <div class="content-dot"></div>
            <div class="main-diamond-outer"></div>
            <div class="main-diamond-inner"></div>
            <div class="mid-diamond-left"></div>
            <div class="mid-diamond-right"></div>
            <div class="small-diamond-left-top"></div>
            <div class="small-diamond-left-bottom"></div>
            <div class="small-diamond-right-top"></div>
            <div class="small-diamond-right-bottom"></div>
          </div>

          <div class="portfolio-titles">
            <main class="main">
              <div class="button">
                <div class="button__ornament button__ornament--vertical">
                  <div class="button__ornament-top-bottom"></div>
                  <div class="button__ornament-left-right"></div>
                </div>

                <div class="button__ornament button__ornament--horisontal">
                  <div class="button__ornament-top-bottom"></div>
                  <div class="button__ornament-left-right"></div>
                </div>
                <span class="button__label">SOUNDTRACKS AND FILMS</span>
              </div>
            </main>

            <div>
              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/CthKzYky6Aw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>'All The Wives In Attics' (Coming Soon) Teaser (Dir. Dagmar Scheibenreif, Prod. Euras Films), music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/kO4mgv8yYXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>'Burning Letters' (2021) Trailer (Dir. J.H. Greene), music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/42P76Ov9Kwg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>'Burning Letters' (2021)  Full Film (Dir. J.H. Greene), music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/msIseygR45k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Submission for the Marvin Hamlisch International Music Awards, music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/mPNDJZH0S8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>'From The Corner Of My Eye Teaser' 2 - Feature film currently in pre-production, stay tuned!</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/t9mbB8d_g90" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Submission for the Indie Film Music Contest​, music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/Kk5oBAeovJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Score submission for the composers choice contest, music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/4Bi92_fJiZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Standing On Your Grave (Dir. Adam Howe, 2020), music by Owen A. Baldwin and Paul Drilhon</p>
              </div>

              <div class="spotify-item">
                <iframe src="https://open.spotify.com/embed/album/4QfRqsC0Q2S0v8GNivAjnJ?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <p>Standing On Your Grave Original Soundtrack (Dir. Adam Howe, 2020), music by Owen A. Baldwin and Paul Drilhon</p>
              </div>

              <div class="spotify-item">
                <iframe src="https://open.spotify.com/embed/album/5SzFfy5S2RwoYo6Poymly9?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <p>Marvellous Day Original Soundtrack (Dir. Lawra Eb, 2018), music by Owen A. Baldwin</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/lTw-9XLT4C4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Robbie Lester's Acting Showreel, Music and Sound Design by Owen A. Baldwin and Paul Drilhon</p>
              </div>

              <div class="youtube-video">
                <iframe  class="yt-video-item" src="https://www.youtube.com/embed/DfCTNp7LMJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Video Game Open Sequence Soundtrack, music by Owen A. Baldwin</p>
              </div>
            </div>
          </div>


        </div>
        <div class="triple-deco-tall"></div>
        <div class="triple-deco-mid"></div>
        <div class="triple-deco-wide"></div>
      </div>

    </div>
  </div>
</div>
