

<div class="portfolio-background">
  <%# <% bgphoto = cl_image_tag("bg2_b7znrc",
      width: 400, height: 300, crop: :fill) %>
  <div class="references-banner">
  <%= image_tag "bg2.png", class: "references-banner" %>
  <%# <div class="references-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url('bg2.png');"> %>
  </div>

  <div class="diamond-deco-container container">
  <div class="diamond-deco-content">

    <h3>Reference 1: Paul Harrison, Director of 'From The Corner Of My Eye' (2020) at Shot Positiv:</h3>

    <p>"To Whom It May Concern,

    I would like to confirm that Owen Baldwin is composing the soundtrack for my film From The Corner Of My Eye.  Working with Owen is simply a joy - his easy-going, laid-back charm belies a shrewd and formidable musical talent.

    We supplied Owen with a pretty straightforward brief for a horror movie soundtrack and what he gave us back exceeded our wildest expectations.  On hearing his first demo session for the feature project we understood immediately that his input would significantly contribute to elevating the whole film into a more compelling experience, such is the emotional maturity and rich complexity of his work.</p>

    <p>From that point until now we have enjoyed the best service from Owen, who has supplied our every professional requirement with a personal touch.  He has supervised complex arrangements regarding auxiliary artists, such as backing vocalists and specialist programmers, with an energy and dynamism that epitomises his can-do, optimistic attitude.</p>

    <p>Having quickly proved himself to be an adept and integral part of the music team, Owen soon showed promise in the wider production sphere.  His patience and thoughtful suggestions, under often demanding and testing production conditions, lifted the spirits of the other team members and contributed to a smoother running of operations.</p>

    <p>Initially we recruited Owen purely in the capacity of a composer and music producer, however his commitment and rock solid reliability made it a very easy choice for us to offer him wider production tasks, and he has consequently been implemental in helping to organise and contribute to rehearsals, production meetings and behind-the-scenes videos.  Owen now oversees a team of eight including music effects artists, editors, composers, vocalists and backing musicians.  Perhaps Owen’s strongest point is his ability to adapt and learn new skills and processes, his aptitude for this is second to none.</p>

    <p>A man of intuition and dimension, Owen never fails to impress - and I would be delighted in recommending him for both further work as a composer for film and as a production team member.  He is an inspiration to work with and will be a valuable asset to all his future productions, all of which will be dutifully served by his musical aptitude and keen production capability.


    Kind regards,


    PAUL HARRISON"</p>

    <div class="title-deco-container container">
      <div class="content content-default"></div>
      <div class="content-dot"></div>
      <div class="main-diamond-outer"></div>
      <div class="main-diamond-inner"></div>
      <div class="mid-diamond-left"></div>
      <div class="mid-diamond-right"></div>
      <div class="small-diamond-left-top"></div>
      <div class="small-diamond-left-bottom"></div>
      <div class="small-diamond-right-top"></div>
      <div class="small-diamond-right-bottom"></div>
    </div>

    <h3>Reference 2: Lawra Eb, Director of "Marvellous Day" (2018):</h3>

    <p>"Owen has shown a lot of interest for the project Marvellous Day. He composed the soundtrack as well as the sound design for this short film and he did an amazing job. Owen is very reliable, flexible, always up to share ideas, looking for solutions and giving
    his best for the film. He really took into consideration my vision and demands.
    He has got a wide knowledge of his job, of the industry and of musical and filmographic references. I trusted him 100% and had no problem handing him over the responsibilities of music production and sound design.
    Working with Owen was really enjoyable as he is motivated and professional.
    He is a hard worker and is really passionate about his job."</p>

  </div>
  <div class="diamond-deco-square-left-top"></div>
  <div class="diamond-deco-square-left-bottom"></div>
  <div class="diamond-deco-square-right-top"></div>
  <div class="diamond-deco-square-right-bottom"></div>
  <div class="diamond-deco-tall-outer"></div>
  <div class="diamond-deco-tall-inner"></div>
  <div class="diamond-deco-wide-outer"></div>
  <div class="diamond-deco-wide-inner"></div>
</div>
</div>
