<div class="portfolio-background">
    <%# <div class="references-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0)), url('contact.png');"> %>
    <div class="references-banner">
      <h1>hi</h1>
      <p>ihuhis</p>
    </div>
</div>
