.diamond-deco-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns:
    [outer-start]  5px
    [mid-start]    5px
    [inner-start]  3px
    [gap-start]    1fr
    [gap-end]      3px
    [inner-end]    5px
    [mid-end]      5px
    [outer-end]
  ;
  grid-template-rows:
    [outer-start]  5px
    [mid-start]    5px
    [inner-start]  3px
    [gap-start]    1fr
    [gap-end]      3px
    [inner-end]    5px
    [mid-end]      5px
    [outer-end]
  ;
}

.diamond-deco-container .diamond-deco-content {
  grid-area: inner;
  padding: 5px 10px;
}

.diamond-deco-container .diamond-deco-square-left-top {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-square-left-bottom {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-square-right-top {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-square-right-bottom {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-tall-outer {
  grid-column: gap-start / gap-end;
  grid-row: outer-start / outer-end;
  border-top: 1px solid $bright-gold;
  border-bottom: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-tall-inner {
  grid-column: gap-start / gap-end;
  grid-row: inner-start / inner-end;
  border-top: 1px solid $bright-gold;
  border-bottom: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-wide-outer {
  grid-column: outer-start / outer-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid $bright-gold;
  border-right: 1px solid $bright-gold;
}

.diamond-deco-container .diamond-deco-wide-inner {
  grid-column: inner-start / inner-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid $bright-gold;
  border-right: 1px solid $bright-gold;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 56px;

}



.about-image {
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgb(0, 0, 0);

}

.about-text {
  width: 50%;
  padding: 16px;
  p{
    color: white;
    font-family: 'Poiret One';
    font-size: 25px;
    text-align: center;

  }
}


.triple-diamond-deco-container {
  display: grid;
  grid-template-columns:
    [line-start]    1fr
    [small-start]   8px
    [large-start]   2px
    [small-end]   12px
    [small-start]  2px
    [large-end]     8px
    [small-end]     1fr
    [line-end]
  ;
  grid-template-rows:
    [large-start] 3px
    [small-start] 5px
    [midline]     5px
    [small-end]   3px
    [large-end]
  ;
/*   background-color: peachpuff; */
}

.triple-diamond-deco-container .left-line {
  grid-column: line-start / small-end 1;
  grid-row: midline / large-end;
  border-top: 1px solid $bright-gold;
}

.triple-diamond-deco-container .right-line {
  grid-column: small-start 2 / line-end;
  grid-row: midline / large-end;
  border-top: 1px solid $bright-gold;
}

.triple-diamond-deco-container .small-diamond-left {
  grid-column: small-start 1 / small-end 1;
  grid-row: small-start / small-end;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}

.triple-diamond-deco-container .small-diamond-right {
  grid-column: small-start 2 / small-end 2;
  grid-row: small-start / small-end;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}

.triple-diamond-deco-container .large-diamond {
  grid-area: large;
  transform: rotate(45deg);
  border: 1px solid $bright-gold;
}
