.contact-background {
  height: 600px;
  display: flex;
  justify-content: center;
  background: linear-gradient(#202124, #000000);
}

.contact-body {
  height: 600px;
  width: 75%;
  margin: 24px;
  @media screen and (max-width: $phone) {
    width: 95%;
    margin: 0px;
  }

}

.form {
  margin: 16px;
}
