.square-deco-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns:
    [outer-start]  5px
    [mid-start]    5px
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px
    [outer-end]
  ;
  grid-template-rows:
    [outer-start]  5px
    [mid-start]    5px
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px
    [outer-end]
  ;
}

.square-deco-container .square-deco-content {
  grid-area: inner;
  padding: 5px 10px;
}

.square-deco-container .square-deco-inner {
  grid-area: mid;
  border: 1px solid #E0C351;
}

.square-deco-container .square-deco-square-left-top {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  border: 1px solid #E0C351;
}

.square-deco-container .square-deco-square-left-bottom {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  border: 1px solid #E0C351;
}

.square-deco-container .square-deco-square-right-top {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  border: 1px solid #E0C351;
}

.square-deco-container .square-deco-square-right-bottom {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  border: 1px solid #E0C351;
}

.square-deco-container .square-deco-tall {
  grid-column: gap-start / gap-end;
  grid-row: outer-start / outer-end;
  border-top: 1px solid #E0C351;
  border-bottom: 1px solid #E0C351;
}

.square-deco-container .square-deco-wide {
  grid-column: outer-start / outer-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid #E0C351;
  border-right: 1px solid #E0C351;
}



// .home-banner {
//   box-shadow: inset 0px 0px 10px #bebebe;
//   z-index: 100;
// }

.home-image {
  object-fit: contain;
  width: 100%;
}

.home-subs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  h1 {
    color: white;
    font-family: 'park lane';
    letter-spacing: 25px;
    color: transparent;
    background-image: linear-gradient(
      to right,
      #795d33 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #795d33 100%
    );

    -webkit-background-clip:text;
  }
}

.home-text {
  p{
    color: white;
    font-family: 'Poiret One';
    font-size: 25px;
    text-align: center;

  }

}
