.navbar-outer {
  display: flex;
  justify-content: center;
  background: white;

}

.navbar-inner {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.tabs ul {
  list-style: none;
}

.tabs li {
  display: inline;
  color: $greyed-out;
  padding: 16px;
  transition: 0.3s;
  font-family: limelight;
}

.tabs li:hover {
  color: black;
}

.name-title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tabs {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Poiret One', cursive;
}

a {
  // text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  text-shadow:
    0 0 1px #ece1b2,
    0 0 7px #ceaa33,
    0 0 10px #ccab3e,
    0 0 21px #ccaf4e,
    0 0 42px #c4ad63,
    0 0 82px #c0ae74,
    0 0 92px #c2b485,
    0 0 102px #c0b590,
    0 0 151px #bdb6a0;
}
