.navbar-outer {
  display: flex;
  justify-content: center;
  background: white;
}

.navbar-inner {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.tabs ul {
  list-style: none;
}

.tabs li {
  display: inline;
  color: $greyed-out;
  padding: 16px;
  transition: 0.3s;
  font-family: limelight;
}

.tabs li:hover {
  color: black;
}

.name-title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tabs {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Poiret One', cursive;
}
