.navbar-outer {
  display: flex;
  justify-content: center;
  background: #202124;

}

.navbar-inner {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.tabs ul {
  list-style: none;
  margin: 0px;
}

.tabs li {
  display: inline;
  color: $greyed-out;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  transition: 0.5s;
  font-family: 'park lane';
  font-size: 20px;
  letter-spacing: 4px;
}

.tabs li:hover {
  color: black;
}

.name-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  letter-spacing: 24px;
  h2{
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    color: white;
    text-shadow: 0px 0px 10px $bright-gold;
  }
}

.tabs {
  display: flex;
  justify-content: center;
}


a {
  // text-decoration: none;
  color: #D3C6A0;
  transition: 0.5s;
  text-shadow: 0px 0px 10px $bright-gold;

}

a:hover {
  text-decoration: none;
  color: white;
  text-shadow:
    0 0 1px #ece1b2,
    0 0 7px #ceaa33,
    0 0 10px #ccab3e,
    0 0 21px #ccaf4e,
    0 0 42px #c4ad63,
    0 0 82px #c0ae74,
    0 0 92px #c2b485,
    0 0 102px #c0b590,
    0 0 151px #bdb6a0;
}
