.portfolio-background {
  height: auto;
  margin-bottom: 24px;
}

.portfolio-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;

  box-shadow: inset 0px 0px 30px 10px #000000;
  box-sizing: border-box;


  h1 {
    margin-top: 120px;
    color: white;
    text-shadow:  0 0 10px black;
  }
  .subtitles {
    margin-top: 64px;

  }

}

.portfolio-banner-image {
  object-fit: contain;
  width: 100%;
  z-index:-1;
  position: relative;
}



.portfolio-body {
  background: linear-gradient(#202124, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-body-inner {
  margin-top: 24px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $phone) {
    width: 95%;
  }
}



.spotify {
  display: flex;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.spotify-players {
  width: 30%;
  padding: 5px;
  @media screen and (max-width: $tablet) {
    width: 100%;
    margin-top: 16px;
  }
}


.youtube-video {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  @media screen and (max-width: $phone) {
    margin-top: 20px;
  }
}

.yt-video-item {
  width: 560px;
  height: 315px;
  @media screen and (max-width: $phone) {
    width: 224px;
    height: 126px;
  }
}


.spotify-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  padding: 24px;

}


.triple-deco-container {
  display: grid;
  grid-template-columns:
    [wide-start]  5px
    [mid-start]   5px
    [tall-start]  1fr
    [tall-end]    5px
    [mid-end]     5px
    [wide-end]
  ;
  grid-template-rows:
    [tall-start]  5px
    [mid-start]   5px
    [wide-start]  1fr
    [wide-end]    5px
    [mid-end]     5px
    [tall-end]
  ;

}

.triple-deco-container .triple-deco-content {
  grid-column: tall-start / tall-end;
  grid-row: wide-start / wide-end;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.triple-deco-container .triple-deco-tall {
  grid-area: tall;
  border: 1px solid $button--color-1;
}

.triple-deco-container .triple-deco-mid {
  grid-area: mid;
  border: 1px solid $button--color-1;
}

.triple-deco-container .triple-deco-wide {
  grid-area: wide;
  border: 1px solid $button--color-1;
}
