.portfolio-background {
  height: auto;
  margin-bottom: 24px;
}

.portfolio-banner {
  display: flex;
  flex-direction: column;
  align-items: center;


  h1 {
    margin-top: 120px;
    color: white;
    text-shadow:  0 0 10px black;
  }
  .subtitles {
    margin-top: 64px;

  }

}

.portfolio-banner-image {
  object-fit: contain;
  // height: 600px;
  width: 100%;
}



.portfolio-body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-body-inner {
  margin-top: 24px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.spotify {
  display: flex;
  display: flex;
  justify-content: center;
}

.spotify-players {
  width: 30%;
  padding: 5px;
}

.youtube-video {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  padding: 24px;
}


.triple-deco-container {
  display: grid;
  grid-template-columns:
    [wide-start]  5px
    [mid-start]   5px
    [tall-start]  1fr
    [tall-end]    5px
    [mid-end]     5px
    [wide-end]
  ;
  grid-template-rows:
    [tall-start]  5px
    [mid-start]   5px
    [wide-start]  1fr
    [wide-end]    5px
    [mid-end]     5px
    [tall-end]
  ;
/*   background-color: peachpuff; */
}

.triple-deco-container .triple-deco-content {
  grid-column: tall-start / tall-end;
  grid-row: wide-start / wide-end;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
/*   background-color: lightblue; */
/*   color: #000; */
}

.triple-deco-container .triple-deco-tall {
  grid-area: tall;
  border: 1px solid $bright-gold;
/*   background-color: plum; */
}

.triple-deco-container .triple-deco-mid {
  grid-area: mid;
  border: 1px solid $bright-gold;
/*   background-color: lightcoral; */
}

.triple-deco-container .triple-deco-wide {
  grid-area: wide;
  border: 1px solid $bright-gold;
/*   background-color: aquamarine; */
}
