.references-banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0),rgrgba(0, 0, 0, 0),url("bg.png"));
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
}
